/* ѣ */

/* colours */

@blue: #3687AA;
@orange: #F44A07;
@grey: #1D1E21;
@green: #48F3AF;

	

/* mixins */

.clean {
	margin: 0;
	padding: 0;
}

.flex {
	 -webkit-display: flex;
     -moz-display: flex;
          display: flex;
}
.flex-direction(@direction: row) {
	-webkit-flex-direction: @direction;
	-moz-flex-direction: @direction;
	flex-direction: @direction;
}

.justify-content(@position: center) {
	-webkit-justify-content: @position;
	-moz-justify-content: @position;
	justify-content: @position;
}

.align(@align: center) {
	-webkit-align-items: @align;
	-moz-align-items: @align;
	align-items: @align;
}

.flex-size(@flex) {
	-webkit-flex: @flex;
	-moz-flex: @flex;
	flex: @flex;
}

/* fonts */

@font-face{
	font-family: 'Fira Sans';
	src: local('Fira Sans Light'),
		url('../fonts/FiraSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Fira Sans';
	src: local('Fira Sans Regular'),
		url('../fonts/FiraSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}


/* global */

html, body {
	color: @grey;
	font-family: 'Fira Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	height: 100vh;
	text-rendering: optimizeLegibility;
}

button {
	border: 3px solid transparent;
	border-radius: 5px;
	background-color: white;
	cursor: pointer;
	height: 36px;
	font-weight: bold;
	padding: 0 5px;
	text-align: center;
	text-transform: none;
	&:hover, &:focus {
		border: 3px solid @orange;
	}
}

select {
	border: 3px solid transparent;
	background: white;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	padding: 5px 10px;
	&:hover, &:focus {
		border: 3px solid @orange;
	}
}


/**
 * along the tree
 */

body {
	.flex;
	.flex-direction(row-reverse);
	height: 100%;
}
aside {
	.flex-size(1);
	border-left: 20px solid lighten(@green, 15%);
	border-right: 20px solid lighten(@green, 15%);
	box-sizing: border-box;
	box-shadow: -3px 0 3px black;
	header {
		.flex;
		.justify-content;
		.align;
		background-color: lighten(@green, 15%);
		height: 15vh;
		h1 {
			color: @grey;
			font-size: 24px;
			text-align: center;
			margin: 0;
		}
	}
	input[type="radio"] {
		display: none;
	}
	label[for="globe"], label[for="graph"] {
		.flex;
		.justify-content;
		.align;
		background-color: lighten(@green, 15%);
		cursor: pointer;
		height: 10vh;
		float: left;
		margin: 0;
		text-align: center;
		width: 50%;
		&:hover {
			background-color: white;
			transition: background 0.2s ease;
		}
	}
	label[for='globe'] {
		div {
			background-image: url(../images/earth-2.png);
			background-repeat: no-repeat;
			background-size: contain;
			height: 35px;
			width: 35px;
		}
	}
	label[for='graph'] {
		div {
			background-image: url(../images/graph-icon.png);
			background-repeat: no-repeat;
			background-size: contain;
			height: 35px;
			width: 35px;
		}
	}
	input#globe:checked ~ label[for="globe"] {
		background-color: white;
	}
	input#graph:checked ~ label[for="graph"] {
		background-color: white;
	}
	input#globe:checked ~ section.articles {
		.globe {
			.flex;
		}
	}
	input#graph:checked ~ section.articles {
		.graph {
			.flex;
		}
	}
	section.articles {
		background-color: white;
		clear: both;
		height: 65vh;
		overflow-y: auto;
		position: relative;
		article {
			box-sizing: border-box;
			display: none;
			padding: 20px;
			position: absolute;
			top: 0;
			select {
				background-color: fade(@grey, 10%);
				margin: 0 0 30px 0;
				&:hover, &:focus {
					border: 3px solid @green;
				}
			}
			label {
				font-weight: bold;
				margin: 0 0 15px 0;
			}
			input[type="color"] {
				background-color: fade(@grey, 10%);
				border: 3px solid white;
				border-radius: 5px;
				height: 50px;
				width: 50px;
				margin: 0 0 30px 0;
				padding: 0;
				outline: none;
				&:hover {
					border: 3px solid @green;
				}
			}
			input[type="file"] {
				padding: 5px 0;
				margin: 0 0 30px 0;
				max-width: 200px;
			}
			label[for="browse"]  {
				margin: 20px 0;
			}
		}
		.globe {
			.flex-direction(column);
			.justify-content;
		}
		.graph {
			.flex-direction(column);
			.justify-content;
		}
	}
	section.download {
		.flex;
		.justify-content(space-around);
		.align;
		background-color: lighten(@green, 15%);
		box-sizing: border-box;
		height: 10vh;
		padding: 15px;
	}
}

main {
	.flex-size(3);
	background-color: @blue;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
	canvas {
		left: 0;
		position: absolute;
		top: 0;
	}
}

footer {
	.messages {
		background: @orange;
		top: 10px;
		left: 10px;
		position: absolute;
		.message {
			box-shadow: 0px 0px 3px black;
			color: @grey;
			font-size: 18px;
			height: 50px;
			line-height: 50px;
			padding: 0 18px;
			text-align: center;
			width: 300px;
			&.error {
				background-color: @orange;
			}
			&.success {
				background-color: @green;
			}
			&.info {
				background-color: @green;
			}
		}
	}
}

/* MEDIA */

@media(max-width: 960px) {
	body {
		.flex-direction(column-reverse);
	}
	aside {
		header {
			height: 8vh;
			h1 {
				font-size: 25px;
			}
		}
		label[for="globe"], label[for="graph"] {
			height: 8vh;
			div {
				height: 30px;
				width: 30px;
			}
		}
		section.articles {
			height: 20vh;
		}
	}
	main {
		.flex-size(3);
	}
}
