import os
import sys


BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))


"""
Security
"""
SECRET_KEY = 't(7+jhquan2b(ow_v1xke1_$%@4=4z5)nr#^)1eqb9$kbu8w^*'
DEBUG = True
ALLOWED_HOSTS = []


"""
Static and media
"""
STATICFILES_DIRS = (
	os.path.join(BASE_DIR, 'static/build'),
)
STATIC_URL = '/static/'


"""
Storage
"""
DATABASES = {
	'default': {
		'ENGINE': 'django.db.backends.sqlite3',
		'NAME': os.path.join(BASE_DIR, 'meta/db.sqlite3'),
	}
}


"""
Email
"""
DEFAULT_FROM_EMAIL = 'robot@localhost'
EMAIL_SUBJECT_PREFIX = '[sanavirta] '

EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'
if 'test' in sys.argv:
	EMAIL_BACKEND = 'django.core.mail.backends.locmem.EmailBackend'

ADMINS = (
	('Your Name', 'your@email.com'),
)
MANAGERS = (
	('Your Name', 'your@email.com'),
)
